p= 'HOLA'
div(class=['ui', 'secondary', 'pointing', 'menu'])
  a(class=['active', 'item')= 'Home'
  a(class='item')= 'Messages'
  a(class='item')= 'Friends'
  div(class=['right', 'menu'])
    a(class=['ui', 'item'])= 'Logout'
    
div(class=['ui', 'segment'])
  p= 'HOLA'
